 /* LoginPage.css */

 body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure body and html take full height */
  width: 100%; /* Ensure body and html take full width */
}

.login-page {
  height: 1000vh; /* Full viewport height */
  width: 100vh; /* Full viewport width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover; /* Stretch the image to cover the viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
}

.header {
  text-align: center;
}

.header-title {
  font-size: 36px;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.login-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 360px;
  width: 100%;
  text-align: center;
}


h1 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 8px;
}

.login-subtitle {
  font-size: 14px;
  color: #666666;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 16px;
}

.primary-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.primary-button:hover {
  background-color: #0056b3;
}

.secondary-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background-color: #db4437;
  color: white;
  cursor: pointer;
}

.secondary-button:hover {
  background-color: #c23321;
}

.error-message {
  color: red;
  margin-bottom: 16px;
  font-size: 14px;
}
